# .bashrc
# This file is managed by Ansible. Chages may be overwritten.

# Source global definitions
if [ -f /etc/bashrc ]; then
    . /etc/bashrc
fi

# User specific aliases and functions
if [ -d ~/.bashrc.d ]; then
        for rc in ~/.bashrc.d/*; do
                if [ -f "$rc" ]; then
                        . "$rc"
                fi
        done
fi

unset rc

# Custom user environment settings can be added below

# Ansible managed lines start
{% for line in bashrc_lines %}
{{ line }}
{% endfor %}
# Ansible managed lines end
# End of .bashrc
